<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Date Project Detail</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <br>
    <!-- Linking the 'Back' button to go back to the project this detail eminates from -->
    <%= link_to 'Back to Project', project_path(@project_detail_date.project_id), html_options = {class: 'btn btn-default'}  %>
  </div>
</div>