<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Comment</h4>
  </div>
  <%= render 'form' %>
</div>
<%= link_to 'Back', comments_path, html_options = {class: 'btn btn-default'} %>