<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Type of Throughput</h4>
  </div>
  <%= render 'form' %>
</div>
<%= link_to 'Back', throughput_metrics_path, html_options = {class: 'btn btn-primary active'} %>