<div class="panel-body">
  <%= simple_form_for(@unit_type) do |f| %>
    <%= f.error_notification %>
    <%= f.input :description, 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.button :submit,
      label: "Create New Unit Type",
      class: 'btn btn-success' %>
  <% end %>
</div>