<div class="panel-body">
  <%= simple_form_for(@measure_type) do |f| %>
    <%= f.error_notification %>
    <%= f.input :description, 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.button :submit,
      value: "Create New Measurement Type",
      class: 'btn btn-success active' %>
  <% end %>
</div>