<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Roles</h4>
  </div>
  <div class="panel-body">
    <a href="/roles/new" class="btn btn-success active" role="button">Create New Role</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Role</th>
          <th>Last Updated By</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.role %></td>
            <td><%= User.find(role.user_id).full_name %></td>
            <td><%= time_ago_in_words(role.updated_at) %> ago</td>
            <td><%= link_to 'Show', 
              role, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>