<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Processing Unit</h4>
  </div>
  <%= render 'form' %>
</div>

<%= link_to 'Show', @processing_unit, html_options = {class: 'btn btn-primary active'} %>
<%= link_to 'Back', processing_units_path, html_options = {class: 'btn btn-default'}  %>