<p>
  <strong>Latitude:</strong>
  <%= @processing_unit.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @processing_unit.longitude %>
</p>

<%= link_to 'Edit', edit_processing_unit_path(@processing_unit) %> |
<%= link_to 'Back', processing_units_path %>
