<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Organization</h4>
  </div>
  <div class="panel-body">
    <%= render 'form' %>
    <br>
    <%= link_to 'Back', @organization, html_options = {class: 'btn btn-default'}  %>
  </div>
</div>