<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit Unit of Measurement</h4>
  </div>
  <%= render 'form' %>
</div>

<%= link_to 'Back', @unit_of_measure, html_options = {class: 'btn btn-default'}  %>