<div class="panel panel-default">
  <div class="panel-heading">
    <h4>New Unit of Measurement</h4>
  </div>
  <%= render 'form' %>
</div>
<%= link_to 'Back', units_of_measures_path, html_options = {class: 'btn btn-default'} %>